/*:root {
	--blue: #3498db;
	--dark-blue: #2980b9;
	--etc
}Will implement color standard when css vars public in Chrome release*/
/* http://flatuicolors.com/ */

.fragments {
	padding-left: 40px;
	padding-bottom: 200px;
}
.fragment-text {
	white-space: pre-wrap;
}
.fragment-container {
	position: relative;
}
.fragment-container[data-tag="tag"] p {
	opacity: 0.5;
	display: inline-block;
	margin: 5px;
}
.fragment-container[data-tag="css"][editable="true"] p,
.fragment-container[data-tag="path"][editable="true"] p,
.fragment-container[data-tag="tag"][editable="true"] p,
.fragment-container[data-tag="meta"][editable="true"] p {
	opacity: 0.5;
}
.fragment-container[data-tag="css"][editable="true"] p:focus,
.fragment-container[data-tag="path"][editable="true"] p:focus,
.fragment-container[data-tag="tag"][editable="true"] p:focus,
.fragment-container[data-tag="meta"][editable="true"] p:focus {
	opacity: 1;
}
.fragment-container[data-tag="nb"][editable="true"] p {
	background-color: #eee;
}
.fragment-container[data-tag="nb"][editable="true"] {
	display: block;
}
.fragment-container[data-tag="tag"] .fragment-text,
.fragment-container[data-inline="true"] .fragment-text {
	display: inline-block;
	float: left;
	margin: 0;
}
.fragment-container[data-inline="false"] {
	clear: left;
}
.fragment-container[data-tag="tag"] {
	clear: none;
	margin-right: 10px;
	float: left;
}
.fragment-container[data-inline="true"] {
	display: inline-block;
	padding-left: 0;
}
.fragment-container[data-tag="nb"] {
	display: none;
}
.options {
	display: none;
	position: absolute;
	font-size: 1.4em;
	line-height: 1em;
	left: -50px;
	top: -2px;
}
.handle {
	display: none;
	float: left;
	margin-right: 5px;
	margin-left: -30px;
	width: 25px;
	opacity: 0.1;
	font-size: 1.4em;
	line-height: 1em;
}
.fragment-container[editable="true"][focussed="true"] .options,
.fragment-container[editable="true"]:hover .options {
	display: block;
}
.select-transparent .caret {
	display: none;
}
.select-transparent::before, 
.select-transparent::after {
    border: none;
    content: none;
}
.select-transparent button span.text,
.select-transparent button .filter-option {
	text-align: center !important;
	width: auto !important;
	float: none !important;
}
.select-transparent > button.dropdown-toggle {
	padding: 5px 2px;
	margin: 0 !important;
	width: 100%;
	text-align: center;
}
.select-transparent > button {
	outline: 0;
	border: 0;
	box-shadow: none;
	text-align: center;
	padding-right: 0;
	opacity: 0.75;
	background-color: transparent;
}
.add-new-fragment {
	opacity: 0.75;
	background-color: white;
}

.add-new-fragments {
	clear: both;
	float: none;
	padding-top: 2em;
}